In [2]:
import pandas as pd

In [42]:
df = pd.read_excel('/Users/rahulgarg/github/AnalyticsCourse/datasets/Sales-Pipeline-Data.xlsx')

In [43]:
df

,Created Date,Sales Owner,Entity,Country/Region,Sales stage,Potential Business,Win Probability,Sales Channel,Close Date/Expected Close Date,Next Steps,Unnamed: 10
0,2021-01-01,A,L1,UAE,Lead,1Cr,0.50,LinkedIn,2021-04-07,No Response,NaN
1,2021-01-01,D,L2,Africa,Marketing Qualified Lead,1Cr,0.50,LinkedIn,2021-04-02,Follow up on call,NaN
2,2021-01-01,A,L3,France,Marketing Qualified Lead,50L,0.60,Website,2021-06-06,Follow up on call,NaN
3,2021-01-01,C,L4,US,Proposal,1Cr,0.75,LinkedIn,2021-05-04,Follow up on call,NaN
4,2021-01-01,G,L5,US,Proposal,50L,0.60,LinkedIn,2021-04-17,Send Email,NaN
...,...,...,...,...,...,...,...,...,...,...,...
3758,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
3759,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
3760,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
3761,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
3762,NaT,NaN,1,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN

In [44]:
df.columns

Index(['Created Date', 'Sales Owner', 'Entity', 'Country/Region',
       'Sales stage', 'Potential Business', ' Win Probability',
       'Sales Channel', 'Close Date/Expected Close Date', 'Next Steps',
       'Unnamed: 10'],
      dtype='object')

In [45]:
df = df.dropna(subset = ['Created Date'])

In [46]:
df

,Created Date,Sales Owner,Entity,Country/Region,Sales stage,Potential Business,Win Probability,Sales Channel,Close Date/Expected Close Date,Next Steps,Unnamed: 10
0,2021-01-01,A,L1,UAE,Lead,1Cr,0.50,LinkedIn,2021-04-07,No Response,NaN
1,2021-01-01,D,L2,Africa,Marketing Qualified Lead,1Cr,0.50,LinkedIn,2021-04-02,Follow up on call,NaN
2,2021-01-01,A,L3,France,Marketing Qualified Lead,50L,0.60,Website,2021-06-06,Follow up on call,NaN
3,2021-01-01,C,L4,US,Proposal,1Cr,0.75,LinkedIn,2021-05-04,Follow up on call,NaN
4,2021-01-01,G,L5,US,Proposal,50L,0.60,LinkedIn,2021-04-17,Send Email,NaN
...,...,...,...,...,...,...,...,...,...,...,...
995,2021-03-31,D,L996,France,Marketing Qualified Lead,1-4Cr,0.80,Email,2021-04-13,Send Email,NaN
996,2021-03-31,B,L997,Germany,Lead,1-4Cr,0.70,Email,2021-06-28,NaN,NaN
997,2021-03-31,C,L998,UAE,Lead,1-4Cr,0.60,LinkedIn,2021-04-13,Follow up on call,NaN
998,2021-03-31,E,L999,Indonesia,Sales Accepted Lead,1-4Cr,0.80,Internal References,2021-04-13,Follow up on call,NaN
999,2021-03-31,G,L1000,France,Marketing Qualified Lead,1Cr,0.75,LinkedIn,2021-06-24,Follow up on call,NaN

In [47]:
df = df.drop(['Unnamed: 10'], axis =1 )

In [48]:
df

,Created Date,Sales Owner,Entity,Country/Region,Sales stage,Potential Business,Win Probability,Sales Channel,Close Date/Expected Close Date,Next Steps
0,2021-01-01,A,L1,UAE,Lead,1Cr,0.50,LinkedIn,2021-04-07,No Response
1,2021-01-01,D,L2,Africa,Marketing Qualified Lead,1Cr,0.50,LinkedIn,2021-04-02,Follow up on call
2,2021-01-01,A,L3,France,Marketing Qualified Lead,50L,0.60,Website,2021-06-06,Follow up on call
3,2021-01-01,C,L4,US,Proposal,1Cr,0.75,LinkedIn,2021-05-04,Follow up on call
4,2021-01-01,G,L5,US,Proposal,50L,0.60,LinkedIn,2021-04-17,Send Email
...,...,...,...,...,...,...,...,...,...,...
995,2021-03-31,D,L996,France,Marketing Qualified Lead,1-4Cr,0.80,Email,2021-04-13,Send Email
996,2021-03-31,B,L997,Germany,Lead,1-4Cr,0.70,Email,2021-06-28,NaN
997,2021-03-31,C,L998,UAE,Lead,1-4Cr,0.60,LinkedIn,2021-04-13,Follow up on call
998,2021-03-31,E,L999,Indonesia,Sales Accepted Lead,1-4Cr,0.80,Internal References,2021-04-13,Follow up on call
999,2021-03-31,G,L1000,France,Marketing Qualified Lead,1Cr,0.75,LinkedIn,2021-06-24,Follow up on call

In [49]:
df.dtypes

Created Date                      datetime64[ns]
Sales Owner                               object
Entity                                    object
Country/Region                            object
Sales stage                               object
Potential Business                        object
 Win Probability                         float64
Sales Channel                             object
Close Date/Expected Close Date    datetime64[ns]
Next Steps                                object
dtype: object

In [50]:
df.shape

(1000, 10)

In [51]:
df.columns

Index(['Created Date', 'Sales Owner', 'Entity', 'Country/Region',
       'Sales stage', 'Potential Business', ' Win Probability',
       'Sales Channel', 'Close Date/Expected Close Date', 'Next Steps'],
      dtype='object')

In [52]:
df['Potential Business'].value_counts()

50L       483
1Cr       289
1-4Cr      97
4-7 CR     74
1-4CR      57
Name: Potential Business, dtype: int64

In [53]:
df['Country/Region'].value_counts()

Africa       115
UAE          113
Canada       103
India        102
Indonesia    101
US            99
Malaysia      99
Germany       94
France        91
UK            83
Name: Country/Region, dtype: int64

In [54]:
df['closure_time'] = (df['Close Date/Expected Close Date'] - df['Created Date']).dt.days

In [55]:
df

,Created Date,Sales Owner,Entity,Country/Region,Sales stage,Potential Business,Win Probability,Sales Channel,Close Date/Expected Close Date,Next Steps,closure_time
0,2021-01-01,A,L1,UAE,Lead,1Cr,0.50,LinkedIn,2021-04-07,No Response,96
1,2021-01-01,D,L2,Africa,Marketing Qualified Lead,1Cr,0.50,LinkedIn,2021-04-02,Follow up on call,91
2,2021-01-01,A,L3,France,Marketing Qualified Lead,50L,0.60,Website,2021-06-06,Follow up on call,156
3,2021-01-01,C,L4,US,Proposal,1Cr,0.75,LinkedIn,2021-05-04,Follow up on call,123
4,2021-01-01,G,L5,US,Proposal,50L,0.60,LinkedIn,2021-04-17,Send Email,106
...,...,...,...,...,...,...,...,...,...,...,...
995,2021-03-31,D,L996,France,Marketing Qualified Lead,1-4Cr,0.80,Email,2021-04-13,Send Email,13
996,2021-03-31,B,L997,Germany,Lead,1-4Cr,0.70,Email,2021-06-28,NaN,89
997,2021-03-31,C,L998,UAE,Lead,1-4Cr,0.60,LinkedIn,2021-04-13,Follow up on call,13
998,2021-03-31,E,L999,Indonesia,Sales Accepted Lead,1-4Cr,0.80,Internal References,2021-04-13,Follow up on call,13
999,2021-03-31,G,L1000,France,Marketing Qualified Lead,1Cr,0.75,LinkedIn,2021-06-24,Follow up on call,85

In [59]:
df.columns

Index(['Created Date', 'Sales Owner', 'Entity', 'Country/Region',
       'Sales stage', 'Potential Business', ' Win Probability',
       'Sales Channel', 'Close Date/Expected Close Date', 'Next Steps',
       'closure_time', 'business_value_cr'],
      dtype='object')

In [56]:
df['business_value_cr'] = df['Potential Business'].replace('50L', 0.50).replace('1Cr', 1).replace('1-4Cr', 2.5).replace('1-4CR', 2.5).replace('4-7 CR', 5.5)

In [57]:
df.head()

,Created Date,Sales Owner,Entity,Country/Region,Sales stage,Potential Business,Win Probability,Sales Channel,Close Date/Expected Close Date,Next Steps,closure_time,business_value_cr
0,2021-01-01,A,L1,UAE,Lead,1Cr,0.50,LinkedIn,2021-04-07,No Response,96,1.0
1,2021-01-01,D,L2,Africa,Marketing Qualified Lead,1Cr,0.50,LinkedIn,2021-04-02,Follow up on call,91,1.0
2,2021-01-01,A,L3,France,Marketing Qualified Lead,50L,0.60,Website,2021-06-06,Follow up on call,156,0.5
3,2021-01-01,C,L4,US,Proposal,1Cr,0.75,LinkedIn,2021-05-04,Follow up on call,123,1.0
4,2021-01-01,G,L5,US,Proposal,50L,0.60,LinkedIn,2021-04-17,Send Email,106,0.5

In [60]:
df['expected_business_cr'] = df.business_value_cr*df[' Win Probability']

In [61]:
df.head()

,Created Date,Sales Owner,Entity,Country/Region,Sales stage,Potential Business,Win Probability,Sales Channel,Close Date/Expected Close Date,Next Steps,closure_time,business_value_cr,expected_business_cr
0,2021-01-01,A,L1,UAE,Lead,1Cr,0.50,LinkedIn,2021-04-07,No Response,96,1.0,0.50
1,2021-01-01,D,L2,Africa,Marketing Qualified Lead,1Cr,0.50,LinkedIn,2021-04-02,Follow up on call,91,1.0,0.50
2,2021-01-01,A,L3,France,Marketing Qualified Lead,50L,0.60,Website,2021-06-06,Follow up on call,156,0.5,0.30
3,2021-01-01,C,L4,US,Proposal,1Cr,0.75,LinkedIn,2021-05-04,Follow up on call,123,1.0,0.75
4,2021-01-01,G,L5,US,Proposal,50L,0.60,LinkedIn,2021-04-17,Send Email,106,0.5,0.30

In [64]:
df['Created Date'].min(), df['Created Date'].max()

(Timestamp('2021-01-01 00:00:00'), Timestamp('2021-03-31 00:00:00'))

In [66]:
# sale_channel = p * expected_business_cr
# sale_channel = q * 1/closure_time

In [67]:
df['cr_per_day'] = df.expected_business_cr/df.closure_time

In [68]:
df.head()

,Created Date,Sales Owner,Entity,Country/Region,Sales stage,Potential Business,Win Probability,Sales Channel,Close Date/Expected Close Date,Next Steps,closure_time,business_value_cr,expected_business_cr,cr_per_day
0,2021-01-01,A,L1,UAE,Lead,1Cr,0.50,LinkedIn,2021-04-07,No Response,96,1.0,0.50,0.005208
1,2021-01-01,D,L2,Africa,Marketing Qualified Lead,1Cr,0.50,LinkedIn,2021-04-02,Follow up on call,91,1.0,0.50,0.005495
2,2021-01-01,A,L3,France,Marketing Qualified Lead,50L,0.60,Website,2021-06-06,Follow up on call,156,0.5,0.30,0.001923
3,2021-01-01,C,L4,US,Proposal,1Cr,0.75,LinkedIn,2021-05-04,Follow up on call,123,1.0,0.75,0.006098
4,2021-01-01,G,L5,US,Proposal,50L,0.60,LinkedIn,2021-04-17,Send Email,106,0.5,0.30,0.002830

In [82]:
df.groupby(['Sales stage']).agg({' Win Probability':'mean'})

                           Win Probability
Sales stage
Lead                              0.700141
Lost                              0.692424
Marketing Qualified Lead          0.703982
Proposal                          0.705862
Sales Accepted Lead               0.695213
Won                               0.683962

In [79]:
df.loc[df['Sales stage'] == 'Won']

,Created Date,Sales Owner,Entity,Country/Region,Sales stage,Potential Business,Win Probability,Sales Channel,Close Date/Expected Close Date,Next Steps,closure_time,business_value_cr,expected_business_cr,cr_per_day
9,2021-01-01,L,L10,France,Won,50L,0.75,Email,2021-03-27,NaN,85,0.5,0.375,0.004412
24,2021-01-03,A,L25,UK,Won,1-4Cr,0.50,LinkedIn,2021-02-04,NaN,32,2.5,1.250,0.039062
26,2021-01-03,C,L27,UK,Won,50L,0.70,Email,2021-02-04,NaN,32,0.5,0.350,0.010937
63,2021-01-06,E,L64,Africa,Won,50L,0.65,Email,2021-03-03,NaN,56,0.5,0.325,0.005804
73,2021-01-08,C,L74,Malaysia,Won,50L,0.85,Website,2021-04-21,NaN,103,0.5,0.425,0.004126
93,2021-01-09,J,L94,India,Won,50L,0.75,Website,2021-03-03,NaN,53,0.5,0.375,0.007075
96,2021-01-10,C,L97,India,Won,50L,0.55,Email,2021-01-29,NaN,19,0.5,0.275,0.014474
134,2021-01-13,M,L135,Indonesia,Won,1Cr,0.75,Email,2021-03-07,NaN,53,1.0,0.750,0.014151
138,2021-01-13,C,L139,Africa,Won,50L,0.55,Website,2021-01-27,NaN,14,0.5,0.275,0.019643
149,2021-01-14,M,L150,US,Won,50L,0.65,Website,2021-03-11,NaN,56,0.5,0.325,0.005804
157,2021-01-15,L,L158,France,Won,50L,0.80,Website,2021-02-01,NaN,17,0.5,0.400,0.023529
169,2021-01-16,D,L170,France,Won,50L,0.80,Email,2021-02-13,NaN,28,0.5,0.400,0.014286
184,2021-01-17,A,L185,Germany,Won,50L,0.65,Email,2021-02-24,NaN,38,0.5,0.325,0.008553
189,2021-01-18,D,L190,Malaysia,Won,1Cr,0.60,Email,2021-02-27,NaN,40,1.0,0.600,0.015000
202,2021-01-19,C,L203,UAE,Won,1Cr,0.80,Email,2021-03-28,NaN,68,1.0,0.800,0.011765
213,2021-01-19,G,L214,Germany,Won,50L,0.60,Website,2021-03-14,NaN,54,0.5,0.300,0.005556
216,2021-01-20,T,L217,UK,Won,50L,0.55,Website,2021-03-01,NaN,40,0.5,0.275,0.006875
221,2021-01-20,A,L222,Canada,Won,50L,0.65,Email,2021-03-31,NaN,70,0.5,0.325,0.004643
236,2021-01-21,J,L237,Malaysia,Won,1Cr,0.65,LinkedIn,2021-02-04,NaN,14,1.0,0.650,0.046429
245,2021-01-22,A,L246,Africa,Won,50L,0.70,Website,2021-03-22,NaN,59,0.5,0.350,0.005932
249,2021-01-23,R,L250,India,Won,50L,0.65,Website,2021-02-16,NaN,24,0.5,0.325,0.013542
275,2021-01-25,D,L276,Africa,Won,50L,0.60,Email,2021-02-05,NaN,11,0.5,0.300,0.027273
299,2021-01-26,A,L300,Canada,Won,50L,0.75,Email,2021-03-12,NaN,45,0.5,0.375,0.008333
302,2021-01-27,L,L303,Africa,Won,50L,0.65,Email,2021-02-19,NaN,23,0.5,0.325,0.014130
348,2021-01-30,T,L349,India,Won,50L,0.85,Website,2021-03-27,NaN,56,0.5,0.425,0.007589
356,2021-01-31,C,L357,Canada,Won,50L,0.75,Email,2021-02-20,NaN,20,0.5,0.375,0.018750
359,2021-01-31,C,L360,Indonesia,Won,50L,0.50,Website,2021-03-10,NaN,38,0.5,0.250,0.006579
383,2021-02-02,J,L384,UK,Won,50L,0.75,Email,2021-02-25,NaN,23,0.5,0.375,0.016304
384,2021-02-02,D,L385,Canada,Won,50L,0.70,Internal References,2021-03-11,NaN,37,0.5,0.350,0.009459
386,2021-02-02,C,L387,US,Won,1Cr,0.65,LinkedIn,2021-02-25,NaN,23,1.0,0.650,0.028261
395,2021-02-03,B,L396,France,Won,1-4Cr,0.85,LinkedIn,2021-03-21,NaN,46,2.5,2.125,0.046196
418,2021-02-06,L,L419,Africa,Won,1Cr,0.55,Website,2021-03-01,NaN,23,1.0,0.550,0.023913
436,2021-02-07,C,L437,France,Won,1-4CR,0.65,Email,2021-02-28,NaN,21,2.5,1.625,0.077381
456,2021-02-08,E,L457,Africa,Won,1-4CR,0.60,Email,2021-03-18,NaN,38,2.5,1.500,0.039474
466,2021-02-09,D,L467,Africa,Won,1Cr,0.70,LinkedIn,2021-03-20,NaN,39,1.0,0.700,0.017949
482,2021-02-11,A,L483,Germany,Won,50L,0.55,Website,2021-02-22,NaN,11,0.5,0.275,0.025000
487,2021-02-11,C,L488,Indonesia,Won,50L,0.80,Internal References,2021-02-26,NaN,15,0.5,0.400,0.026667
495,2021-02-12,T,L496,US,Won,50L,0.65,Internal References,2021-03-20,NaN,36,0.5,0.325,0.009028
497,2021-02-12,M,L498,Germany,Won,1Cr,0.65,LinkedIn,2021-03-11,NaN,27,1.0,0.650,0.024074
535,2021-02-16,A,L536,Malaysia,Won,50L,0.80,Email,2021-03-25,NaN,37,0.5,0.400,0.010811
539,2021-02-17,C,L540,Indonesia,Won,50L,0.75,Website,2021-03-28,NaN,39,0.5,0.375,0.009615
542,2021-02-17,A,L543,US,Won,50L,0.65,LinkedIn,2021-03-16,NaN,27,0.5,0.325,0.012037
569,2021-02-20,J,L570,Malaysia,Won,1Cr,0.55,Website,2021-03-09,NaN,17,1.0,0.550,0.032353
571,2021-02-20,L,L572,Indonesia,Won,4-7 CR,0.75,Email,2021-03-31,NaN,39,5.5,4.125,0.105769
572,2021-02-20,R,L573,France,Won,4-7 CR,0.75,Website,2021-03-31,NaN,39,5.5,4.125,0.105769
576,2021-02-20,G,L577,India,Won,1Cr,0.60,LinkedIn,2021-03-12,NaN,20,1.0,0.600,0.030000
611,2021-02-24,E,L612,France,Won,4-7 CR,0.80,Internal References,2021-03-31,NaN,35,5.5,4.400,0.125714
642,2021-02-28,A,L643,UAE,Won,1Cr,0.65,Email,2021-03-25,NaN,25,1.0,0.650,0.026000
648,2021-02-28,T,L649,France,Won,1Cr,0.80,Website,2021-03-17,NaN,17,1.0,0.800,0.047059
718,2021-03-06,C,L719,UAE,Won,50L,0.70,Email,2021-03-22,NaN,16,0.5,0.350,0.021875
728,2021-03-07,A,L729,Africa,Won,1Cr,0.70,Website,2021-03-27,NaN,20,1.0,0.700,0.035000
787,2021-03-12,C,L788,Canada,Won,1Cr,0.80,Email,2021-03-26,NaN,14,1.0,0.800,0.057143
807,2021-03-14,J,L808,Canada,Won,50L,0.60,Website,2021-03-28,NaN,14,0.5,0.300,0.021429

In [78]:
df['Sales stage'].value_counts()

Lead                        355
Marketing Qualified Lead    226
Sales Accepted Lead         188
Proposal                    145
Won                          53
Lost                         33
Name: Sales stage, dtype: int64

In [70]:
df['Sales Channel'].value_counts()

Email                  474
Website                275
LinkedIn               208
Internal References     43
Name: Sales Channel, dtype: int64

In [72]:
sales_performace = df.groupby(['Sales Channel']).agg({'cr_per_day':'mean'})

In [76]:
sales_performace.sort_values(['cr_per_day'], ascending = False)

                     cr_per_day
Sales Channel
Internal References    0.025173
Email                  0.019404
Website                0.014567
LinkedIn               0.013687

In [87]:
df.groupby(['Sales Channel']).agg({'Created Date':'count','business_value_cr':'mean', 'closure_time':'mean'})

                     Created Date  business_value_cr  closure_time
Sales Channel
Email                         474           1.336498     88.930380
Internal References            43           1.476744     79.372093
LinkedIn                      208           1.370192     85.745192
Website                       275           1.238182     88.261818

In [89]:
df.groupby(['Sales Channel','Sales stage']).agg({'Created Date':'count','business_value_cr':'mean', 'closure_time':'mean','cr_per_day':'mean'})

                                              Created Date  business_value_cr  \
Sales Channel       Sales stage
Email               Lead                               171           1.330409
                    Lost                                16           0.937500
                    Marketing Qualified Lead           100           1.135000
                    Proposal                            66           1.416667
                    Sales Accepted Lead                 99           1.631313
                    Won                                 22           1.022727
Internal References Lead                                16           1.031250
                    Marketing Qualified Lead            10           2.250000
                    Proposal                             7           1.642857
                    Sales Accepted Lead                  6           1.000000
                    Won                                  4           1.750000
LinkedIn            Lead                                76           1.263158
                    Lost                                 7           0.928571
                    Marketing Qualified Lead            54           1.416667
                    Proposal                            29           1.482759
                    Sales Accepted Lead                 34           1.544118
                    Won                                  8           1.312500
Website             Lead                                92           1.255435
                    Lost                                10           0.750000
                    Marketing Qualified Lead            62           1.250000
                    Proposal                            43           1.244186
                    Sales Accepted Lead                 49           1.428571
                    Won                                 19           0.868421

                                              closure_time  cr_per_day
Sales Channel       Sales stage
Email               Lead                         92.713450    0.023435
                    Lost                         92.250000    0.015132
                    Marketing Qualified Lead     90.240000    0.015973
                    Proposal                     88.575758    0.014220
                    Sales Accepted Lead          92.444444    0.019038
                    Won                          36.409091    0.023967
Internal References Lead                         77.812500    0.013642
                    Marketing Qualified Lead     91.000000    0.032386
                    Proposal                     84.285714    0.027289
                    Sales Accepted Lead          90.833333    0.029737
                    Won                          30.750000    0.042717
LinkedIn            Lead                         89.907895    0.012096
                    Lost                         85.000000    0.011769
                    Marketing Qualified Lead     88.555556    0.012850
                    Proposal                     90.482759    0.012982
                    Sales Accepted Lead          81.558824    0.015613
                    Won                          28.500000    0.030501
Website             Lead                         86.282609    0.015159
                    Lost                         98.800000    0.007088
                    Marketing Qualified Lead     93.096774    0.012972
                    Proposal                     99.000000    0.013627
                    Sales Accepted Lead          94.346939    0.015180
                    Won                          36.526316    0.021389

In [92]:
df.groupby(['Sales Owner']).agg({'Created Date':'count','business_value_cr':'mean', 'closure_time':'mean','cr_per_day':'mean'})

             Created Date  business_value_cr  closure_time  cr_per_day
Sales Owner
A                     148           1.206081     88.547297    0.013715
B                      55           1.418182     85.218182    0.015095
C                     157           1.321656     84.452229    0.017734
D                      98           1.250000     83.765306    0.014917
E                      48           1.500000     92.458333    0.017524
G                      93           1.043011     88.236559    0.011334
J                     143           1.325175     90.433566    0.016924
L                      99           1.393939     84.616162    0.030642
M                      47           1.297872     89.595745    0.018653
R                      52           1.701923     92.903846    0.016407
T                      60           1.500000     90.300000    0.015796